{% extends 'base.html' %} {% block body %}

<div id="main-content-section" data-magellan-target="main-content-section">
    <div class="grid-container">
        <div class="grid-x grid-margin-x" style="padding-top: 35px; padding-bottom: 35px;">

            <div class="cell medium-12 text-center">
                <h1>Corporate Service Center Hub</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt a ad quo eos est eligendi amet deleniti veritatis
                    inventore impedit nemo odit maxime iure pariatur aut, minus laudantium tempora sequi?</p>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-x grid-margin-x" style="padding-top: 35px; padding-bottom: 35px;">
            <div class="cell medium-4">
                <h1>Devices Registered</h1>
                <p>All your company registered devices.</p>
                <p>
                    <table>
                        <thead>
                            <tr>
                                <th width="40%">Total Phones</th>
                                <th width="40%">Phones In Repair</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>50 Samsung</td>
                                <td>1 in Repair</td>
                            </tr>
                            <tr>
                                <td>20 Huawei</td>
                                <td>Nan</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
            <div class="cell medium-8">
                <form data-abide novalidate>
                    <div class="row">
                        <div class="columns">
                            <div data-abide-error class="alert callout" style="display: none;">
                                <p>
                                    <i class="fi-alert"></i> There are some errors in your form.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <label>Number Required
                                <input type="text" placeholder="1234" aria-describedby="exampleHelpText" required pattern="number">
                                <span class="form-error">
                                    Yo, you had better fill this out, it's required.
                                </span>
                            </label>
                            <p class="help-text" id="exampleHelpText">Here's how you use this input field!</p>
                        </div>
                        <div class="small-12 columns">
                            <label>Nothing Required!
                                <input type="text" placeholder="Use me, or don't" aria-describedby="exampleHelpTex" data-abide-ignore>
                            </label>
                            <p class="help-text" id="exampleHelpTex">This input is ignored by Abide using `data-abide-ignore`</p>
                        </div>
                        <div class="small-12 columns">
                            <label>Password Required
                                <input type="password" id="password" placeholder="yeti4preZ" aria-describedby="exampleHelpText" required>
                                <span class="form-error">
                                    I'm required!
                                </span>
                            </label>
                            <p class="help-text" id="exampleHelpText">Enter a password please.</p>
                        </div>
                        <div class="small-12 columns">
                            <label>Re-enter Password
                                <input type="password" placeholder="yeti4preZ" aria-describedby="exampleHelpText2" required pattern="alpha_numeric" data-equalto="password">
                                <span class="form-error">
                                    Hey, passwords are supposed to match!
                                </span>
                            </label>
                            <p class="help-text" id="exampleHelpText2">This field is using the `data-equalto="password"` attribute, causing it to match the password
                                field above.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">
                            <label>URL Pattern, not required, but throws error if it doesn't match the Regular Expression for a
                                valid URL.
                                <input type="text" placeholder="https://foundation.zurb.com" pattern="url">
                            </label>
                        </div>
                        <div class="medium-6 columns">
                            <label>European Cars, Choose One, it can't be the blank option.
                                <select id="select" required>
                                    <option value=""></option>
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <fieldset class="medium-6 columns">
                            <legend>Choose Your Favorite, and this is required, so you have to pick one.</legend>
                            <input type="radio" name="pokemon" value="Red" id="pokemonRed">
                            <label for="pokemonRed">Red</label>
                            <input type="radio" name="pokemon" value="Blue" id="pokemonBlue" required>
                            <label for="pokemonBlue">Blue</label>
                            <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow">
                            <label for="pokemonYellow">Yellow</label>
                        </fieldset>
                        <fieldset class="medium-6 columns">
                            <legend>Choose Your Favorite - not required, you can leave this one blank.</legend>
                            <input type="radio" name="pockets" value="Red" id="pocketsRed">
                            <label for="pocketsRed">Red</label>
                            <input type="radio" name="pockets" value="Blue" id="pocketsBlue">
                            <label for="pocketsBlue">Blue</label>
                            <input type="radio" name="pockets" value="Yellow" id="pocketsYellow">
                            <label for="pocketsYellow">Yellow</label>
                        </fieldset>
                        <fieldset class="medium-6 columns">
                            <legend>Check these out</legend>
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1">Checkbox 1</label>
                            <input id="checkbox2" type="checkbox" required>
                            <label for="checkbox2">Checkbox 2</label>
                            <input id="checkbox3" type="checkbox">
                            <label for="checkbox3">Checkbox 3</label>
                        </fieldset>
                    </div>
                    <div class="row">
                        <fieldset class="medium-6 columns">
                            <button class="button" type="submit" value="Submit">Submit</button>
                        </fieldset>
                        <fieldset class="medium-6 columns">
                            <button class="button" type="reset" value="Reset">Reset</button>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div id="engadget-footer-sitemap-container">
</div>
<div id="engadget-footer-social-container">
    <footer id="engadget-footer-social">
        <div class="footer-left">
            <div class="newsletter">

                <form action="">
                    <h6>Sign up for our newsletter</h6>
                    <div class="input-group">

                        <input class="input-group-field" type="email" placeholder="Email address">
                        <div class="input-group-button">
                            <input type="submit" class="button" value="Submit">
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="footer-right" style="color: #457B9D;">
            <h6>Follow us</h6>
            <i class="fab fa-twitter-square fa-3x"></i>
            <i class="fab fa-google-plus-square fa-3x"></i>
            <i class="fab fa-linkedin fa-3x"></i>
        </div>
    </footer>
</div>
<div id="engadget-footer-contact-details-container">
    <footer id="engadget-footer-contact-details">
        <div class="footer-left">
            <div class="contact-details">
                <ul>
                    <li>
                        <img class="thumbnail" src="http://placehold.it/80">
                    </li>
                    <li>
                        <i class="fa fa-phone fa-lg" aria-hidden="true"></i> 01234 567890</li>
                    <li>
                        <a data-toggle="animatedModal10">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i> Contact us</a>
                    </li>
                    <li>
                        <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Street, City, County, Country</li>
                </ul>
            </div>
        </div>
    </footer>
</div>

{% endblock body %}


<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.js"></script>
<script src="js/app.js"></script>
</body>

</html>